/ChartController.class
/ImmigrationLabourChartController.class
/JobspectsMainController.class
/OccupationLabourChartController.class
/TourismEmploymentChartController.class
/UnemploymentDurationChartController.class
/WagesByEducationChartController.class
